<p id="notice"><%= notice %></p>

<h1>Listing Characters</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>Name</th>
      <th>Super power</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div id="links">
    
  
    
  </div>

  <div id="append-i"></div>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.image %></td>
        <td><%= character.description %></td>
        <td><%= character.name %></td>
        <td><%= character.super_power %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>

<script type="text/javascript">
  
$(document).ready(function(){

    $.getJSON("http://gateway.marvel.com:80/v1/public/characters?name=Agent%20Carter&apikey=2f5f5c6cd705b9287fe0c720298c2dd6", function(response, status, jqXHR){

    // $('.links').eq(0).find('p').eq(0).html(jqXHR.responseText);
       console.log("JSON loaded")
       var i= 0;
       for (i=0; i < 25; i++){
      $("#links").append("<p>" + response.data.children[i].data.title +"</p>");
      }
    });


});

</script>